section(id="footer")
  h3 Sources
  ul(class="sources")
    li
      a(href="https://en.wikipedia.org/wiki/Quadcopter") Quadcopters Wikipedia
    li
      a(href="https://www.youtube.com/watch?v=PkbkO3e0ev0") Basic Physics of Drones, <i>Youtube</i>
    li
      a(href="https://www.kaiserbaas.com/products/alpha-drone") Drone Battery Image, <i>Google Images</i>
    li
      a(href="https://www.google.ca/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi6iOX1j7TQAhXr5YMKHf5mCMgQjhwIBQ&url=https%3A%2F%2Fdragonflydrone.co.uk%2F&bvm=bv.139250283,d.amc&psig=AFQjCNGB5j3bgUawHvKRyebsTpZ_95lYJQ&ust=1479621002164879") Drone Camera Image, <i>Google Images</i>


