section(id="footer")
  h3 Sources
  div(class="row")
    ul(class="sources column column-33")
      li
        a(href="https://en.wikipedia.org/wiki/Quadcopter") Quadcopters Wikipedia
      li
        a(href="https://www.youtube.com/watch?v=PkbkO3e0ev0") Basic Physics of Drones, <i>Youtube</i>
      li
        a(href="https://www.kaiserbaas.com/products/alpha-drone") Drone Battery Image, <i>Google Images</i>
      li
        a(href="https://www.google.ca/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi6iOX1j7TQAhXr5YMKHf5mCMgQjhwIBQ&url=https%3A%2F%2Fdragonflydrone.co.uk%2F&bvm=bv.139250283,d.amc&psig=AFQjCNGB5j3bgUawHvKRyebsTpZ_95lYJQ&ust=1479621002164879") Drone Flight Gif, <i>Google Images</i>
      li
        a(href="https://www.google.ca/search?safe=off&tbm=isch&q=drone+image&oq=&gs_l=") Drone Images, <i>Google Images</i>
    ul(class="sources column column-33")
      li
        a(href="https://www.google.ca/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwihptT4o7TQAhUG24MKHRkXCssQjhwIBQ&url=http%3A%2F%2Fbknpk.com%2F%3Fp%3D13327&bvm=bv.139250283,d.amc&psig=AFQjCNFUhcEAh3-YmePs1FasiySHykK31Q&ust=1479626375150227") Header Image, <i>Google Images</i>
      li
        a(href="https://www.google.ca/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiav7eUpLTQAhWp6IMKHaI7A8wQjhwIBQ&url=https%3A%2F%2Fwall.alphacoders.com%2Fby_sub_category.php%3Fid%3D239298&bvm=bv.139250283,d.amc&psig=AFQjCNFUhcEAh3-YmePs1FasiySHykK31Q&ust=1479626375150227") Wallpaper 1, <i>Google Images</i>
      li
        a(href="https://www.google.ca/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi41tOKpbTQAhUC5oMKHf3nDMoQjhwIBQ&url=https%3A%2F%2Fwiproo.com%2Ftop-10-drones-on-the-market-right-now.html&bvm=bv.139250283,d.amc&psig=AFQjCNHyH4cbOf5BX3AF81oppXb8AqxEEQ&ust=1479626664367752") Drone Top View, <i>Google Images</i>
      li
        a(href="https://www.google.ca/url?sa=t&rct=j&q=&esrc=s&source=web&cd=11&cad=rja&uact=8&ved=0ahUKEwiK1YrQpbTQAhWl64MKHbbCDswQFgg1MAo&url=http%3A%2F%2Fwww.uavexpertnews.com%2Fdrone-to-follow%2F&usg=AFQjCNE3EXCe0DLlBthHW5h5JCrhsHpbyg&sig2=5n7bdysWsQguaPP-GeLYrQ") Flight Controller Image, <i>Google Images</i>
      li
        a(href="https://www.google.ca/search?safe=off&tbm=isch&q=propel&oq=propel&gs_l=serp.3..35i39k1j0i67k1l5j0i20k1j0i67k1l3.4284.5060.0.5710.6.6.0.0.0.0.137.608.3j3.6.0....0...1c.1.64.serp..0.6.606...0i131k1.5ZrNOm1rzMc#safe=off&tbm=isch&q=propellor+drone") Drone Propellor, <i>Google Images</i>
      li
        a(href="https://www.google.ca/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiDwf2CprTQAhVj74MKHXDADsgQFggdMAA&url=http%3A%2F%2Fwww.edmundoptics.com%2Fcameras%2F&usg=AFQjCNHrQTc4m6prrRX-RPWREA7cVy8gVw&sig2=J2Ivw-t-49qdCuIgJ9BE1g") Drone Camera Image, <i>Google Images</i>


