section(id="intro")
  div(class="container")
    div(class="row")
      div(class="column title")
        h2 Introduction
    div(class="row")
      div(class="content-wrap column column-50")
        p Recently, quadcopter drones have gained an extreme amount of popularity. Since they have significantly dropped in price they're now available to a wide range of consumers. Popular among photographers and hobbyits, drones are being used all over the place.
        p Usually operating a quadcopter is as simple as downloading an app to your smartphone or using the suuplied remote controller, but during flight there are a lot of physics at play. In this site I attempt to explore some of the physics involved in the flight of a quadroter drone. 
      div(class="img-wrap column column-50")
        img(class="drone" src=require('../assets/img/white-drone.png'))
