doctype html
html
  head
    title The Physics Of Drones
  body
    include includes/head.pug
    include includes/intro.pug
    include includes/bg1.pug
    include includes/components.pug
    include includes/flight.pug
    include includes/footer.pug


